# LaTeX files
*.aux
*.bbl
*.log
*.out
*.gz

# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# build files
build/*

# saved model objects
empirical analysis/output/*
simulation/output/*

# miscellaneous
.DS_Store
