# LaTeX files
*.aux
*.bbl
*.log
*.out
*.gz

# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# build files
build/*

# saved model objects
analysis/empirical/*
analysis/simulation/*
!analysis/simulation/simulation-example.R
analysis/output/*

# miscellaneous
.DS_Store
